@import "variables";

.page-news header,
.sidebar,
.content {
  padding: 1rem;
}

.page-news header {
  background: none;
}

.sidebar {
  background: none;
}

.content {
  color: $black;
}

.page-news {
  min-height: 100vh;
}

.page-news,
.body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  .sidebar-1 {
    order: -1;
  }
  .body {
    flex-direction: row;
  }
  .sidebar {
    flex: 0 0 200px;
  }
}



