@import "variables";

.pagination-controls {
  display: flex;
  color:$gray-500;
}

.pagination-controls-button {
  cursor: default;
  margin: 0 0.25em;
  padding: 0.5em 0.75em;
  border-radius: 0.3rem;

  &:hover{
    background: lighten($cyan, 50%);
    border-radius: 0.3rem;
    color: $gray-lightest;

  }
  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover:not(:active) {
    transition: transform 0.15s;
    transform: translateY(-1px);
  }
}

.pagination-controls-button--active {
  color: $cyan;
  border: 1px solid $cyan;
  &:hover,
  &:hover:not(:active) {
    transform: none;
  }
}
