// Colors

$black: #000 !default;
$gray-dark: #373a3c !default;
$gray: #55595c !default;
$gray-light: #818a91 !default;
$gray-500: #adb5bd !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;

$cyan: #17a2b8 !default;
