@import "variables";

select {
  width: 15rem;
  font-size: 2vh;
  border: 1px solid #ccc;
  height: 2rem;
  appearance: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%)
}

h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%)
}

select::-ms-expand {
  display: none;
}

@media screen and (min-width: 0 \0
) {
  select {
    background: none \9
  ;
    padding: 5px \9
  ;
  }
}

.page-header {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 900px) {
  .page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.title-news {
  color: $black;
}

.container-select {
  height: inherit;
  position: relative
}

.title-news {
  height: inherit;
  position: relative
}
