@import "variables";

select {
  width: 15rem;
  padding: 5px 35px 5px 5px;
  font-size: 2vh;
  border: 1px solid #ccc;
  height: 2rem;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

@media screen and (min-width: 0 \0
) {
  select {
    background: none \9
  ;
    padding: 5px \9
  ;
  }
}

.page-header {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 900px) {
  .page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.title-news {
  color: $black;
}
